@import 'color.scss';

$icon-size: 50px;

#loading {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color:rgba(255,255,255,0.6);

  .loading-icon {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: calc(50% - #{$icon-size});
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: $blue;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
